.filtration-container {
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
  }
  
  .filtration-container h2 {
    margin-bottom: 20px;
  }
  
  .table-container {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
  }
  
  .no-data {
    margin-top: 20px;
    color: #888;
    text-align: center;
  }